@import url("https://fonts.googleapis.com/css?family=Nunito");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Nunito; }

.margin-bottom-medium {
  margin-bottom: 5.0625rem; }

.margin-bottom-huge {
  margin-bottom: 248px !important; }

.margin-top-small {
  margin-top: 1.875rem; }

.margin-top-medium {
  margin-top: 5.0625rem; }

.btn--black {
  background: linear-gradient(to right, #0BDBA3, #9312E5);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 1.1875rem 0.4187rem;
  text-decoration: none; }
  .btn--black:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(41, 41, 41, 0.2); }
  .btn--black span {
    background: #292929;
    border-radius: 30px;
    padding: 0.75rem 3.75rem; }

.btn-green {
  background-color: #0BDBA3;
  border: none;
  color: #fff;
  padding: 0.9375rem 2.6875rem;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; }
  .btn-green:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(41, 41, 41, 0.2); }

.btn--white {
  background-color: #fff;
  border: none;
  color: #9312E5;
  padding: 1.125rem 3.75rem;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; }
  .btn--white:hover {
    color: #9312E5;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(41, 41, 41, 0.2); }

.card-solid {
  border: 4px solid #9312E5;
  margin: 5.625rem 1rem 5.625rem 1rem;
  width: 100%;
  height: 41rem; }
  .card-solid-title {
    color: #9312E5;
    font-size: 2rem;
    margin-top: 6.25rem; }
  .card-solid-price {
    font-size: 1.25rem;
    color: #5a5a5a; }
    .card-solid-price span {
      font-size: 2.75rem;
      color: #9312E5;
      padding-top: 0.6rem; }
  .card-solid-listItem {
    list-style: none;
    color: #5a5a5a;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-size: 1.25rem; }

.card-gradient {
  border: 4px solid #fff;
  background-image: linear-gradient(#0BDBA3, #9312E5);
  margin: 5.625rem 1rem 5.625rem 1rem;
  width: 100%;
  height: 41rem; }
  .card-gradient-title {
    color: #fff;
    font-size: 2rem;
    margin-top: 6.25rem; }
  .card-gradient-price {
    font-size: 1.25rem;
    color: #fff; }
    .card-gradient-price span {
      font-size: 2.75rem;
      color: #fff;
      padding-top: 0.6rem; }
  .card-gradient-listItem {
    list-style: none;
    color: #fff;
    margin-top: 0.9rem;
    font-size: 1.25rem; }

.icon {
  margin-top: 3.75rem; }
  .icon-img {
    padding: 15px; }
  .icon-bk {
    background-color: #fff;
    border-radius: 50px;
    padding: 1.3125rem;
    margin: 0px 10px 0px 10px; }

.signup__form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 2.5rem; }
  .signup__form--name {
    width: 14.875rem;
    height: 3.0625rem;
    border-style: none;
    border-radius: 5px;
    margin-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 400px) {
      .signup__form--name {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; } }
  .signup__form--email {
    width: 28.0625rem;
    height: 3.0625rem;
    border-style: none;
    border-radius: 5px;
    margin-right: 1rem;
    padding-left: 1rem; }
    @media screen and (max-width: 400px) {
      .signup__form--email {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem; } }

.footer {
  background-color: #292929;
  height: 8.4375rem; }
  .footer .nav-link {
    font-size: 1.1875rem;
    color: #fff; }
  .footer .nav-link:hover {
    color: #95989a; }

.navbar-brand {
  font-size: 3.0625rem; }
.navbar .nav-link {
  font-size: 1.1875rem; }

.header__background {
  height: 100%;
  background-image: linear-gradient(to right bottom, rgba(41, 41, 41, 0.55), rgba(41, 41, 41, 0.55)), url(../img/purple_bridge.jpg);
  background-size: cover;
  background-position: right; }
.header__text-box .header__primary {
  margin-top: 14.3125rem;
  margin-bottom: 1.0625rem;
  text-align: center;
  color: #fff;
  font-size: 5.8125rem; }
  @media screen and (max-width: 992px) {
    .header__text-box .header__primary {
      margin-top: 1rem;
      font-size: 6vh; } }
.header__text-box .header__sub {
  margin-top: 1.0625rem;
  margin-bottom: 5.5625rem;
  text-align: center;
  color: #e3e3e3;
  font-size: 1.25rem; }
  @media screen and (max-width: 992px) {
    .header__text-box .header__sub {
      margin-bottom: 1rem; } }
.header__text-box .header-scroll {
  margin-top: 11.0625rem;
  margin-bottom: 1.875rem; }
.header img {
  margin-bottom: 248px; }

.ourWork__header {
  font-size: 1.625rem; }
.ourWork__sub {
  font-size: 1rem;
  color: #95989a; }

.aboutUs__backgroundimage {
  height: 50.375rem;
  background-image: linear-gradient(to right bottom, rgba(11, 219, 163, 0.55), rgba(225, 59, 255, 0.55)), url(../img/workspace.jpg);
  background-size: cover;
  background-position: right; }
  @media screen and (max-width: 992px) {
    .aboutUs__backgroundimage {
      display: none; } }
.aboutUs__title {
  color: #95989a;
  font-size: 1.25rem; }
.aboutUs__sub {
  color: #95989a;
  font-size: 1rem; }
.aboutUs__skillmeter--ps {
  border: 4px solid;
  border-image: linear-gradient(to right, #E13BFF, #0BDBA3);
  border-image-slice: 1;
  width: 68%; }
.aboutUs__span--ps {
  margin-left: 60%; }
.aboutUs__skillmeter--ai {
  border: 4px solid;
  border-image: linear-gradient(to right, #E13BFF, #0BDBA3);
  border-image-slice: 1;
  width: 57%; }
.aboutUs__span--ai {
  margin-left: 50%; }
.aboutUs__skillmeter--seo {
  border: 4px solid;
  border-image: linear-gradient(to right, #E13BFF, #0BDBA3);
  border-image-slice: 1;
  width: 60%; }
.aboutUs__span--seo {
  margin-left: 50%; }
.aboutUs__skillmeter--wp {
  border: 4px solid;
  border-image: linear-gradient(to right, #E13BFF, #0BDBA3);
  border-image-slice: 1;
  width: 45%; }
.aboutUs__span--wp {
  margin-left: 35%; }

.portfolio__header {
  margin-top: 4.6875rem; }
.portfolio__image {
  margin-bottom: 34px; }

.testimonial {
  margin-top: 3.5rem;
  height: 24.1875rem;
  background-image: linear-gradient(to right bottom, rgba(11, 219, 163, 0.55), rgba(225, 59, 255, 0.55)), url(../img/workplace_2.jpg);
  background-size: cover;
  background-position: right; }
  .testimonial__name {
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    margin-left: 21px; }
  .testimonial__title {
    color: #fff;
    font-size: 16px;
    margin-left: 21px; }
  .testimonial__text {
    color: #fff;
    font-size: 20px;
    margin-top: 21px; }
  .testimonial .carousel {
    margin-top: 92px; }
    .testimonial .carousel-inner {
      width: 100%; }
    .testimonial .carousel-item {
      float: left; }
      .testimonial .carousel-item img {
        width: 95px;
        height: 95px; }

.emailSignup {
  margin-top: 3.5rem;
  height: 25.75rem;
  background-image: linear-gradient(to right, rgba(11, 219, 163, 0.55), rgba(147, 18, 229, 0.55)), url(../img/bridge_gold.jpg);
  background-size: cover;
  background-position: center; }
  .emailSignup__header {
    color: #fff;
    font-size: 2rem; }
  @media screen and (max-width: 400px) {
    .emailSignup {
      height: 35rem; } }

/*# sourceMappingURL=mains.css.map */
