// colors

$green:#0BDBA3;

$light-purple: #E13BFF;
$purple: #9312E5;

$black: #292929;

$light-grey: #95989a;

$white: #fff;
$dark-white: #e3e3e3;


//fonts

@import url('https://fonts.googleapis.com/css?family=Nunito');
$font-nunito: Nunito;
