.btn-black {
  background: linear-gradient(to right, $green, $purple);
  color: $white;
  border: none;
  border-radius: 30px;
  padding: 1.1875rem 0.4187rem;
  text-decoration: none;



  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }


  span {
    background: $black;
    border-radius: 30px;
    padding: 0.75rem 3.75rem;

  }
}

.btn-green {
  background-color: $green;
  border: none;
  color: $white;
  padding: 0.9375rem 2.6875rem;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }
}

.btn-white {
  background-color: $white;
  border: none;
  color: purple;
  padding: 1.125rem 3.75rem;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }
}
