.btn-black {
  background: linear-gradient(to right, $green, $purple);
  color: $white;
  border: none;
  border-radius: 30px;
  padding: 1.75rem 0.4375rem;
  text-decoration: none;



  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }


  span {
    background: $black;
    border-radius: 30px;
    padding: 1.3125rem 4.1875rem;

  }
}
