.btn--black {
  background: linear-gradient(to right, $green, $purple);
  color: $white;
  border: none;
  border-radius: 30px;
  padding: 1.1875rem 0.4187rem;
  text-decoration: none;

  &:hover {
    @include button-hover;
    color: $white;

  }
  span {
    background: $black;
    border-radius: 30px;
    padding: 0.75rem 3.75rem;

  }
}

.btn {
  border: none;
  border-radius: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  &:hover {
    @include button-hover
  }
}

.btn--green {
  background-color: $green;
  color: $white;
  padding: 0.9375rem 2.6875rem;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba($black,.2);
  }
}

.btn--white {
  background-color: $white;
  color: $purple;
  padding: 1.125rem 3.75rem;

  &:hover {
    color: $purple;
  }
}
