.card-solid {
  border: 4px solid $purple;
  margin: 5.625rem 1rem 5.625rem 1rem;
  width: 100%;
  height: 41rem;

  &-title {
    color: $purple;
    font-size: 2rem;
    margin-top: 6.25rem;
  }

  &-price {
    font-size: 1.25rem;
    color: $dark-grey;

    span {
      font-size: 2.75rem;
      color: $purple;
      padding-top: 0.6rem;
    }
  }


  &-listItem {
    list-style: none;
    color: $dark-grey;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-size: 1.25rem;
  }

}



.card-gradient {
  border: 4px solid $white;
  background-image: linear-gradient($green, $purple);
  margin: 5.625rem 1rem 5.625rem 1rem;
  width: 100%;
  height: 41rem;
  &-title {
    color: $white;
    font-size: 2rem;
    margin-top: 6.25rem;
  }

  &-price {
    font-size: 1.25rem;
    color: $white;

    span {
      font-size: 2.75rem;
      color: $white;
      padding-top: 0.6rem;
    }
  }

  &-listItem {
    list-style: none;
    color: $white;
    margin-top: 0.9rem;
    font-size: 1.25rem;
  }
}
