.card-solid {
  border: 4px solid $purple;
  padding: 100px 180px 100px 180px;
  margin-left: 15px;
  margin-right: 15px;
  width: 31rem;
  &-listItem {
    list-style: none;

  }
}

.card-gradient {
  border: 3px solid $purple;
  margin-left: 15px;
  margin-right: 15px;
  padding: 100px 180px 100px 180px;
}
