.signup__form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 2.5rem;
  &--name {
    width: 14.875rem;
    height: 3.0625rem;
    @include signUp;
  }
  &--email {
    width: 28.0625rem;
    height: 3.0625rem;
    @include signUp;
  }
}
